*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
	position: relative;
	min-width: 1200px;
}
li{
	list-style: none;
}
em,i{
	font-style: normal;
}
.clear:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:"";
	clear:both;
	height:0;
}
/*尾部*/
.footer{
	height:360px;
	background:linear-gradient(to bottom right,#0b0b0b,#3f4253);
	padding-top: 94px;
	padding-bottom: 60px;	
}
.footer .item{
	float: left;
}
.footer-content{
	width: 1200px;
	margin: 0 auto;
}
.footer li{
	color: #70808D;
	font-size: 12px;
	list-style: none;
	margin-bottom: 12px;
	/*cursor: pointer;*/
}
.footer .link-url{
	cursor: pointer;
}
.footer h6{
	font-size: 16px;
	color: #fff;
	margin-bottom: 18px;
}
.bottom-logo{
	width: 100px;
	text-align: center;
	margin:0 500px 0 200px;
}
.operate-box{
	width: 100px;
	margin-right: 200px;
}
/*头部*/
.head{
	position: absolute;
	z-index: 1;
	top:0;
	left: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: rgba(0,0,0,0.1);
	border-bottom:1px solid #07d9f0;
	font-size: 14px;
	color: #fff;
	padding:0 40px;
}
.logo-box,.nav-box{
	float: left;
}
.email-box{
	float: right;
}
.logo-box{
	margin-right: 80px;
}
.logo-box img{
	vertical-align: middle;
}
.email-box span{
	vertical-align: middle;
}
.email-box img{
	vertical-align: middle;
	margin-right:10px;
}
.nav-box{
	overflow: hidden;
}
.nav-box li{
	list-style: none;
	float: left;	
	text-align: center;
	margin-top: -2px;
	cursor: pointer;
}
.nav-box li a{
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	padding: 0 25px;
	display: inline-block;
}
.nav-box li:hover{
	border-bottom: 2px solid #fff;
}
.nav-box li.active{
	border-bottom: 2px solid #fff;
}
@media only screen and (max-width:1200px){
	body{
		min-width: 0;
	}
	/*.head{
		height: 50px;
		line-height: 50px;
		border-bottom: none;
		padding: 0 15px;
	}
	.nav-icon{
		float: right;
		padding-left:18px;
	}
	.nav-icon img{
		width: 18px;
		vertical-align: middle;
	}
	.nav-box{
		overflow:visible;
		position: absolute;
		display: none;
		right: 0;
		top:50px;
		z-index: 3;
	}*/
}
