.mask-box{
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index:20;
	overflow: auto;
	display: none;
}
.mask-content{
	position: absolute;
	top:18%;
	left:50%;
	margin-left: -380px;
	/*margin-top: -325px;*/
	background-color: #fff;
	color: #333;
	width:760px;
	height: 650px;
	border-radius: 5px;
	padding: 0 48px;
}
.mask-title{	
	text-align: center;
	padding: 44px 0 36px 0;	
}
.mask-title span{
	display: inline-block;
	width: 245px;
	height: 86px;
	line-height: 86px;
	background-color: #ff0000;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}
.link-list{
	margin: 58px 0 35px;
}
.link-list li{
	font-size: 14px;
	line-height: 1.6;
}
.link-list li span{
	color:#0276f7;
}
.last-name{
	margin-top: 15px;
	text-align: right;
}
.content-in p{
	font-size: 14px;
	line-height: 1.5;
}
.mask-tip span{
	color: #ff0000;
}
.mask-word{
	text-indent: 28px;
}
.mask-word span{
	color: #ff0000;
	font-weight: bold;
}
.close-btn{
	position: absolute;
	top:-20px;
	right:-20px ;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fff url(../img/close.png) no-repeat center center/18px;
	cursor: pointer;	
}

@media only screen and (max-width:1200px){
	.mask-box{
		
	}
	.mask-content{
		position: relative;
		width:287px;
		height: 380px;
		margin-left:-142px;
		margin-top: 0px;
		padding: 0 20px;
		border-radius: 3px;
	}
	.mask-title{
		font-size: 15px;
		padding: 27px 0 24px 0;
	}
	.mask-title span{
		display: inline-block;
		width: 122px;
		height: 42px;
		line-height: 42px;
		background-color: #ff0000;
		font-size: 18px;
		font-weight: bold;
		color: #fff;
	}
	.link-list{
		margin: 30px 0 25px 0;
	}
	.link-list li{
		font-size: 12px;
		list-style: none;
	}
	.content-in p{
		font-size: 12px;
		line-height: 1.5;
	}
	.mask-tip{
		margin: 26px 0 30px 0;
	}
	.last-name{
		text-align: left;
	}
	.close-btn{
		width: 20px;
		height: 20px;
		top: -10px;
		right: -10px;
		background-size: 9px;
	}	
}
