*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{overflow-x:hidden;overflow-y:auto}
body{
    background-color: #fff;
    position: relative;
}
li{
    list-style: none;
}
em,i{
    font-style: normal;
}
.clear:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:"";
    clear:both;
    height:0;
}
.big-part{
    display: none !important;
}
.small-part{
    display: block;
}
.language{
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 78px;
    height: 26px;
    line-height: 24px;
    border:1px solid #fff;
    font-size: 12px;
}
.language-list{
    display: none;
    position: absolute;
    top:26px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);

}
.language-list li{

    list-style: none;
    height: 30px;
    line-height: 30px;
}
.language img{
    vertical-align: middle;
    width:18px;
    margin: 0 4px 0 6px;
}
.language i{
    position: absolute;
    right: 4px;
    top:50%;
    margin-top: -4px;
    content: "";
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 4px;
    border-width:8px 4px;
    border-style:solid dashed dashed dashed;
    border-color:#fff transparent transparent transparent;
}
.language span{
    display: inline-block;
    font-size: 12px;
    /*width: 24px;*/
}
/*尾部*/
.footer{
    /*height:266px;*/
    background:linear-gradient(to bottom right,#0b0b0b,#3f4253);
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer .item{
    /*float: left;*/
}
.footer-content{
    text-align: center;
    margin: 0 auto;
}
.footer li{
    color: #70808D;
    font-size: 14px;
    list-style: none;
    margin-bottom: 15px;
    /*cursor: pointer;*/
}
.footer .link-url{
    cursor: pointer;
}
.footer h6{
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
}
.bottom-logo{
    width: 100px;
    text-align: center;
    margin:0 200px;
}
.operate-box{

}
/*头部*/
.head{
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #0276f7;
    font-size: 14px;
    color: #fff;
    padding:0 15px;
}
.nav-icon{
    float: right;
    padding-left:18px;
}
.nav-icon img{
    width: 18px;
    vertical-align: middle;
}
.logo-box{
    float: left;
}
.logo-box img{
    width: 125px;
    vertical-align: middle;
}
.email-box span{
    vertical-align: middle;
}
.email-box img{
    vertical-align: middle;
    margin-right:10px;
}
.nav-box{
    /*overflow: hidden;*/
    position: absolute;
    display: none;
    right: 0;
    top:50px;
    z-index: 3;
}
.nav-box li{
    list-style: none;
    text-align: center;
    width: 108px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 1px;
    background-color: rgba(0,0,0,0.5);
}
.nav-box li a{
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    /*padding: 0 25px;*/
    display: inline-block;
}

/*content*/
.content{
    padding: 50px 0 10px 0;
    background-color: #f2f5f4;
}
.news-container{
    position: relative;
    min-height: 380px;
}
.tip{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 53px;
    height: 20px;
    font-size: 14px;
}
.news-item{
    margin: 10px;
    padding: 10px;
    background-color: white;
}
.item-img img{
    width: 100%;
}
.item-title{
    font-weight: 700;
    margin: 7px 0 7px 0;
    font-size: 16px;
    text-align: center;
}
.item-content{
    font-size: 14px;
}
.news-item:last-of-type{
    border-bottom: none;
}

@media only screen and (max-width: 1200px) {
    .nav-box li {
        width: 130px;
    }
}