body{
  font-family: "Arial",sans-serif;
}
.version-box h5{
	background-size: 500px;
}
.sell-list li .annualKey{
	width: 216px;
}
.sell-tip span{
	bottom: 10px;
}
.qrcode-in{
  width: 192px;
}
.qrcode-in p{
  font-size: 14px;
}
@media only screen and (min-width: 1201px)  and (max-width: 1450px) {
	.nav-box li a{
		padding: 0 10px;
	}
	.logo-box{
		margin-right: 50px;
	}
	.head{
		padding: 0 20px;
	}
}
@media only screen and (min-width: 901px) and (max-width: 1200px){
	.nav-box li a{
		padding: 0 10px;
	}
}

@media only screen and (max-width: 1200px){
	.banner-part h1{
		font-size: 18px;
		width: 250px;
		margin-left:auto;
		margin-right:auto;
		line-height: 1.4;
	}
	.introduce-word h2{
		width: 270px;
		margin-left:auto;
		margin-right:auto;
		line-height: 1.4;
		margin-bottom: 11px;
	}
	.technical-features .word-part h5{
		font-weight: normal;
		font-size: 15px;
		width: 220px;
		margin-left: auto;
		margin-right: auto;
	}
	.technical-features .img-part{
		margin-bottom: 17px;
	}
	.technical-features p{
		text-align: center;
	}
	.technical-features{
		height:330px;
	}
	.sell-tip{
		/*width: 90px;
		height: 90px;
		right: -45px;
    	top: -45px;*/
	}
	.sell-tip span{
		bottom: 6px;
	}
	.model-box .left-part h5{
		font-size: 12px;
		padding-left: 50px;
		/*padding-top: 25px;
		padding-bottom: 20px;
		font-weight: normal;*/
		/*background-position-x: 8px;*/
	}
	.sell-list li .annualKey{
		width: 70px;
	}
	.sell-list li span{
		width: 70px;
	}
	.version-box p{
		font-size: 15px;
	}
	.sell-code-box{
		margin-top: 30px;
	}
	.model-box .right-part p{
		font-size: 12px;
		margin-top: 14px;
		width: 235px;
		margin-left: auto;
		margin-right: auto;
		line-height: 1.2;
	}
}