* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  position: relative;
  min-width: 1200px;
  overflow-x: hidden;
}

li {
  list-style: none;
}

em, i {
  font-style: normal;
}

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.language {
  margin-left: 20px;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 78px;
  height: 26px;
  line-height: 24px;
  border: 1px solid #333;
  font-size: 12px;
}

.language-list {
  display: none;
  position: absolute;
  top: 26px;
  width: 100%;
  background-color: #fff;

}

.language-list li {

  list-style: none;
  height: 30px;
  line-height: 30px;
}

.language img {
  vertical-align: middle;
  width: 18px;
  margin: 0 4px 0 6px;
}

.language i {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -4px;
  content: "";
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 4px;
  border-width: 8px 4px;
  border-style: solid dashed dashed dashed;
  border-color: #333 transparent transparent transparent;
}

.language span {
  display: inline-block;
  font-size: 12px;
  /*width: 24px;*/
}

/*尾部*/
.footer {
  height: 360px;
  background: linear-gradient(to bottom right, #0b0b0b, #3f4253);
  padding-top: 94px;
  padding-bottom: 60px;
}

.footer .item {
  float: left;
}

.footer-content {
  width: 1200px;
  margin: 0 auto;
}

.footer li {
  color: #70808D;
  font-size: 12px;
  list-style: none;
  margin-bottom: 12px;
  /*cursor: pointer;*/
}

.footer .link-url {
  cursor: pointer;
}

.footer h6 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 18px;
}

.bottom-logo {
  width: 100px;
  text-align: center;
  margin: 0 500px 0 200px;
}

.operate-box {
  width: 100px;
  margin-right: 200px;
}

/*头部*/
.head {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
  color: #666;
  padding: 0 40px;
}

.logo-box, .nav-box {
  float: left;
}

.email-box {
  float: right;
}

.logo-box {
  margin-right: 80px;
}

.logo-box img {
  vertical-align: middle;
}

.email-box span {
  vertical-align: middle;
}

.email-box img {
  vertical-align: middle;
  margin-right: 10px;
}

.nav-box {

}

.nav-box li {
  list-style: none;
  float: left;
  text-align: center;
  margin-top: -2px;
  height: 60px;
  cursor: pointer;
}

.nav-box li a {
  color: #666;
  text-decoration: none;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  padding: 0 25px;
  display: inline-block;
}

.nav-box li:last-of-type {
  position: relative;
}

.nav-box li:last-of-type .hot {
  position: absolute;
  top: 6px;
  right: -46px;
  width: 60px;
}

.nav-box li:hover {
  height: 62px;
  border-bottom: 2px solid #0276F7;
}

.nav-box li.active {
  height: 62px;
  border-bottom: 2px solid #0276F7;
}

/*banner部分*/
.banner-part {
  height: 900px;
  position: relative;
  background: url(../img/banner.jpg) no-repeat;
  color: #fff;
  text-align: center;
  overflow: hidden;
  color: #f1f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrcode-box {
  margin-top: 48px;
  position: relative;
  z-index: 2;
  width: 422px;
  display: flex;
  justify-content: space-between;
}

.qrcode-in {
  width: 186px;
}

.qrcode-in img {
  width: 186px;
  height: 210px;
}

.qrcode-in p {
  margin-top: 17px;
  line-height: 24px;
  font-family: Microsoft YaHei, Arial, sans-serif;
}

.banner-part h1 {
  padding-top: 232px;
  display: block;
  text-align: center;
  font-family: "microsoft yahei";
  font-size: 48px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 33px;
}

.banner-part h4 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
}

/*内容介绍*/
.introduce-word {
  margin-top: 82px;
  margin-bottom: 60px;
  color: #333;
  text-align: center;
}

.introduce-word h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 47px;
  font-weight: 600;
}

.introduce-word .introduce-msg {
  width: 920px;
  text-align: center;
  font-size: 16px;
  /*text-indent: 32px;*/
  margin: 0 auto 80px auto;
}

.circle-out {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  position: relative;
  background: url(../img/circle.png) no-repeat center center/100% 100%;
}

.circle-out .circle {
  position: absolute;
  width: 100px;
  transition: all 0.3s;
}

.circle-out .circle1 {
  top: 0;
  left: 95px;
}

.circle-out .circle2 {
  top: 0;
  right: 95px;
}

.circle-out .circle1:hover, .circle-out .circle2:hover {
  top: -8px;
}

.circle-out .circle6 {
  top: 225px;
  left: -50px;
}

.circle-out .circle3 {
  top: 225px;
  right: -50px;
}

.circle-out .circle3:hover, .circle-out .circle6:hover {
  top: 217px;
}

.circle-out .circle4 {
  bottom: 0;
  right: 95px;
}

.circle-out .circle5 {
  bottom: 0;
  left: 95px;
}

.circle-out .circle4:hover, .circle-out .circle5:hover {
  bottom: 8px;
}

.out-circle-box, .insert-circle-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.out-circle-box {
  animation: myfirst 10s linear infinite;
  -webkit-animation: myfirst 10s linear infinite;
  -moz-animation: myfirst 10s linear infinite;
  -o-animation: myfirst 10s linear infinite;
}

.insert-circle-box {
  animation: myfirst 7s linear infinite;
  -webkit-animation: myfirst 7s linear infinite;
  -moz-animation: myfirst 7s linear infinite;
  -o-animation: myfirst 7s linear infinite;
}

.out-circle {
  position: absolute;
  top: -11px;
  width: 22px;
  left: 264px;

}

.insert-circle {
  position: absolute;
  top: 17px;
  width: 22px;
  left: 264px;
  /*animation: myfirst 2s;
  -webkit-animation: myfirst 2s;
  -moz-animation: myfirst 2s;
  -o-animation: myfirst 2s;*/
}

.word-box h4 {
  font-size: 16px;
  font-weight: 600;
  padding-top: 250px;
  width: 430px;
  margin: 0 auto 20px auto;
}

.word-box p {
  font-weight: 600;
  font-size: 12px;
  width: 430px;
  margin: 0 auto;
}

@keyframes myfirst {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes myfirst {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes myfirst {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes myfirst {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

/*热销机型*/
.sell-box {
  /*background-color:#f1f4f4;*/
  background: url(../img/sell-bg.png) no-repeat center center / 100% 100%;
  /*height:843px;*/
  padding: 64px 0;
  overflow: hidden;
}

.version-box {
  clear: both;
  width: 1200px;
  margin: 36px auto 53px auto;
}

.version-box h5 {
  font-size: 24px;
  text-align: center;
  background: url(../img/dot-left.png) no-repeat left center, url(../img/dot-right.png) no-repeat right center;
  /*background-size: 490px;*/
  margin-bottom: 14px;
}

.version-box p {
  font-size: 14px;
  text-align: center;
}

.version-tip {
  margin-bottom: 28px;
}

.version-list li {
  float: left;
  width: 380px;
  height: 264px;
  margin-right: 30px;
  text-align: center;
}

.version-list h6 {
  font-size: 24px;
  margin-bottom: 16px;
}

.version-list-tip {
  margin-top: 28px;
  font-size: 14px;
  font-weight: 600;
  color: #279BE8;
}

.icon-line {
  margin: 30px 0 20px 0;
}

.icon-line img {
  width: 57px;
  height: 58px;
}

.version-list li:last-child {
  margin-right: 0;
}

.model-box {
  width: 1200px;
  margin: 0 auto;
}

.recruit {
  margin-top: 140px;
  height: 505px;
  display: flex;
  justify-content: center;
}

.sell-box .shadow {
  background-color: #fff;
  box-shadow: 0 5px 4px 0px rgba(0, 0, 0, 0.1);
}

.model-box .left-part {
  width: 793px;
  height: 355px;
  float: left;
  position: relative;
  padding: 0 48px;
  /*overflow: hidden;*/
}

.model-box .right-part {
  width: 379px;
  height: 355px;
  float: right;
}

.model-box .left-part h5 {
  background: url(../img/millBg.png) no-repeat left center;
  font-size: 24px;
  font-weight: 600;
  box-sizing: content-box;
  height: 90px;
  line-height: 90px;
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, #2086ee 0%, #40e4d5 100%) 30;
  padding-left: 74px;
}

.model-box .right-part h5 {
  font-size: 18px;
  text-align: center;
  line-height: 1;
  margin-top: 10px;
}

.model-box .right-part p {
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin-top: 15px;
}

.sell-code-box {
  text-align: center;
  margin-top: 50px;
}

.sell-list {
  float: left;
  margin-top: 25px;
  width: 330px;
}

.sell-list li {
  height: 42px;
  line-height: 42px;
}

.orange {
  color: #ff6600;
}

.sell-list li span {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  width: 116px;
}

.sell-list li i {
  display: inline-block;
  font-size: 16px;
}

.sell-percent {
  /*font-size: 24px !important;
  font-weight: 600;*/
}

.sell-tip-box {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 0;
  right: 0;
  overflow: hidden;
}

.sell-tip {
  width: 120px;
  height: 120px;
  background-color: #2aa2e6;
  color: #fff;
  position: absolute;
  right: -60px;
  top: -60px;
  transform: rotate(45deg);
}

.sell-tip span {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.sell-list li em {
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
}

.list1 {
  /*width: 330px;*/
}

.model-box .left-part p {
  clear: both;
  padding-top: 20px;
  font-size: 16px;
}

.receive-btn {
  position: absolute;
  right: 48px;
  bottom: 25px;
  width: 110px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background: linear-gradient(90deg, #2086ee 0%, #40e4d5 100%);
}

.model-box .right-part {
  width: 380px;
  float: right;
}

/*预订流程*/
.process-box h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 80px 0 90px 0;
  text-align: center;
}

.draw-box-out {
  position: relative;
  width: 1200px;
  margin: 0 auto 120px auto;
  overflow: hidden;
}

.draw-box-out .line {
  position: absolute;
  top: 40px;
  margin-top: -1px;
  height: 3px;
  width: 270px;
  background: linear-gradient(90deg, #2086ee 0%, #40e4d5 100%);
}

.line1 {
  left: 260px;
}

.line2 {
  right: 260px;
}

.process-box .draw-box li {
  float: left;
  width: 380px;
  margin-right: 30px;
  text-align: center;
}

.process-box .draw-box li:last-child {
  margin-right: 0;
}

.process-box .draw-box h6 {
  font-size: 16px;
  font-weight: 600;
}

.process-box .draw-box p {
  margin-top: 17px;
  font-size: 12px;
}

.process-box .draw-box .processNum {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(90deg, #2086ee 0%, #40e4d5 100%);
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

/*联系方式*/
.contact-us {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 88px;
  background-color: rgba(241, 244, 244, 0.9);
  /*border:1px solid #ccc;*/
  text-align: center;
}

.contact-us p {
  margin-top: 60px;
  font-size: 14px;
}

.fixed-code {
  width: 100%;
  position: absolute;
  top: -50px;

}

.fixed-code img {
  width: 100px;
  height: 100px;
  box-shadow: 0px 13px 28px 3px rgba(0, 0, 0, 0.1);
}

.small-part {
  display: none !important;
}

.big-part {
  display: block;
}

@media only screen and (min-width: 900px)  and (max-width: 1340px) {
  .nav-box li a {
    padding: 0 14px;
  }
}